body {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 100vw;
  max-height: 100vh;
  font-family: sans-serif;
}

.charts {
  display: flex;
  flex-direction: column;
}

.chart {
  position: relative;
  margin: 10px;
  background-color: white;
}

.info {
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 10px;
  width: calc(33vw - 60px);
}

.legend {
  display: none !important;
}

#hisChart .legend {
  display: block !important;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5px 0;
  position: relative;
}

.row.left {
  max-width: 50%;
  justify-content: flex-end;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-end;
  padding: 5px 0;
}

label {
  font-size: inherit;
  max-width: 50%;
  color: gray;
}

input {
  font-size: inherit;
  max-width: 40%;
  border-radius: 3px;
  padding-left: 5px;
}
input:disabled {
  background-color: rgba(220, 220, 240, 0.9);
}

input.double {
  font-size: inherit;
  max-width: 25%;
}

#keypad,
#modal_his {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  top: 0;
  left: 0;
}

.num_box {
  height: 40px;
  font-size: 30px;
  max-width: 50%;
  background: white;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: center;
  line-height: 30px;
  outline: none;
}
.num_box.active {
  border: 3px solid lightskyblue;
}
.num_box::placeholder {
  color: rgba(25, 25, 25, 0.3);
}

.field_name {
  padding-right: 10px;
  font-size: 25px;
  flex: 1;
  text-align: center;
}

.keypad_wrapper td {
  width: 33%;
  color: white;
  text-align: center;
  height: 60px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
}

.keypad_wrapper td span {
  background-color: rgba(25, 25, 25, 9);
  margin: 3px 0 3px 6px;
  padding: 14px;
  display: block;
  border-radius: 10px;
  background: linear-gradient(rgba(25, 25, 25, 1), rgba(25, 25, 25, 0.7));
}

.keypad_wrapper td span.send {
  background-color: orange;
  background: linear-gradient(orange, rgba(255, 165, 0, 0.7));
}

table {
  width: 100%;
  margin-top: 2px;
}
.button {
  color: white;
  width: 45%;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
  border: 1px solid seagreen;
  color: seagreen;
  background-color: transparent;
  max-height: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  background-color: seagreen;
  border: none;
  color: white;
}
.stop {
  background-color: red;
  border: none;
  color: white;
}
.keypad_wrapper {
  background-color: white;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 1px gray;
}

.value {
  font-size: 38px;
  display: flex;
  padding: 0 10px;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  padding: 0;
}

.title {
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
  font-weight: bold;
}

.title2 {
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
}
.alarma_titulo {
  position: absolute;
  top: 4px;
  left: -30px;
  background-color: white;
  padding: 5px 15px;
  font-size: 20px;
}
.alarma {
  width: auto;
  background-color: white;
  color: black;
  box-shadow: none;
  text-align: center;
}
.value.alarma {
  font-size: 30px;
}

table.alarma {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-size: 28px;
  margin: 20px 0;
  box-shadow: 2px 1px 4px gray;
}

.value.alarma {
  display: table-cell;
}
.title.alarma {
  padding: 0;
}

.peep,
.p_max {
  color: rgba(68, 114, 196);
  cursor: auto;
}

.v_ins {
  color: rgba(237, 125, 49);
}

.v_esp {
  color: rgba(112, 143, 71);
}

.fi_o2 {
  cursor: auto;
}

.bis {
  display: none;
}

.only_read {
  cursor: auto;
}

.test {
  font-size: 16px;
  color: seagreen;
  text-decoration: underline;
  vertical-align: middle;
  cursor: pointer;
}
