body {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 100vw;
  max-height: 100vh;
}

.charts {
  display: flex;
  flex-direction: column;
}

.chart {
  position: relative;
  background-color: whitesmoke;
  margin: 10px;
}

.info {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 10px;
  width: calc(33vw - 60px);
}

.legend {
  display: none !important;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding: 5px 0;
}

label {
  font-size: inherit;
  max-width: 50%;
  color: gray;
}

label.pressure {
  color: rgba(0, 0, 255, 0.6);
}
label.flow_ins {
  color: rgba(255, 0, 0, 0.6);
}
label.flow_ex {
  color: rgba(0, 255, 0, 0.6);
}

input {
  font-size: inherit;
  max-width: 40%;
  border-radius: 3px;
  padding-left: 5px;
}
input:disabled {
  background-color: rgba(220, 220, 240, 0.9);
}

input.double {
  font-size: inherit;
  max-width: 25%;
}

#keypad {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  top: 0;
  left: 0;
}

#num_box {
  height: 30px;
  width: 100%;
  background: white;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: center;
  line-height: 30px;
}

#field_name {
  padding-right: 10px;
}

td {
  width: 33%;
  color: white;
  background-color: rgba(25, 25, 25, 0.9);
  cursor: pointer;
  text-align: center;
  height: 40px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px gray;
  margin: 2px;
}

td.btn {
  width: 33%;
  cursor: pointer;
  text-align: center;
}

table {
  width: 100%;
  margin-top: 2px;
}
button {
  color: white;
  padding: 10px;
  width: 45%;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 1px gray;
}
#start {
  background-color: green;
}
#stop {
  background-color: red;
}
.keypad_wrapper {
  background-color: white;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  padding: 5px;
  border-radius: 6px;
  box-shadow: 2px 2px 1px gray;
}

.value {
  font-size: 32px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
}

.subtitle {
  font-size: 14px;
  width: 100%;
  padding-left: 10px;
}

.peep,
.p_max {
  color: rgba(68, 114, 196);
}

.v_ins {
  color: rgba(237, 125, 49);
}

.v_esp {
  color: rgba(112, 143, 71);
}
